//FONTS AND COLOURS PARTIAL

$leatherGreen: #9A872D;
$khaki:#F5CDB6;
$passingKhaki: #FAE0D1;
$pink: #F7B0AA;
$peach:#FDDDA4;
$teal:#76A08A;

$junoColor: #4a455c;


$headerFont: 'Amatic SC', cursive;
$h2Font: 'Roboto Condensed', sans-serif;
$mainFont: 'Roboto Mono', monospace;

